.contact-form-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: none;
}


.contact-form-container h2 {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.form_container {
    margin-bottom: 15px;
}

.form_container label {
    display: block;
    color: #666;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 16px;
}

.form_container input,
.form_container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.form_container input::placeholder,
.form_container textarea::placeholder {
    color: #aaa;
}

form input[type="text"],
form input[type="email"],
form input[type="messages"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: black !important;
    text-align: left !important;
}

.form_container input:focus,
.form_container textarea:focus {
    border-color: #aaa;
    outline: none;
}

.submit-btn {
    background-color: #FFB300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.submit-btn:hover {
    background-color: black;
}

.toast-wrapper {
    height: 5px;
    margin-bottom: 20px;
}

#toast {
    color: green;
    padding: 5px 8px;
    display: none;
}

.line-separator {
    width: 80px;
    height: 3px;
    background-color: green;
    margin: 20px auto; /* Center horizontally */
}

.companionship {
    text-align: center;
    padding-top: 70px;
    text-transform: lowercase;
    font-size: 25px;
    font-weight: 600;
}

.companionship:first-letter {
    text-transform: capitalize;
}

#explanations {
    display: flex;
    flex-direction: column; /* Stack the paragraphs vertically */
    align-items: center; /* Center items horizontally */
    margin: 20px auto;
}

.note1,
.note2,
.note3 {
    margin: 10px 0;
    width: 55%; /* Set a specific width for consistency */
    text-align: left; /* Align text to the left */
    padding-left: 10px; /* Add padding for better readability */
    box-sizing: border-box; /* Include padding in width */
    font-size:15px;
}

@media (max-width: 768px) {
    .topbar {
        display: flex !important; /* Or block */
    }
}


/* Hide register and login links on larger screens */
.mobile-only {
  display: none;
}

/* Show register and login links only on mobile */
@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
}

