<h6><strong>Profile Details</strong></h6>

<div class="profile">
<p><img src="{{ profile.image.url }}" alt="{{ profile.name }}'s profile picture" style="width: 80px; height: 90px;"></p>
<p><strong>Name:</strong> {{ profile.name }}</p>
<p><strong>Gender:</strong> {{ profile.gender }}</p>
<p><strong>Height:</strong> {{ profile.height }} cm</p>
<p><strong>Weight:</strong> {{ profile.weight }} kg</p>
<p><strong>Skin Tone:</strong> {{ profile.color }}</p>
<p><strong>Bio:</strong> {{ profile.bio }}</p>
</div>