{% extends 'base_dating.html' %}
{% load static %}
{% load tz %}



{% block links %}
<link href="{% static 'css/notifications.css' %}" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock links %}

{% block nav %}
<!--<ul class="menu-links" style="display: none; max-height: 400px; overflow: auto;">-->
<!--    <li class="hoverTrigger"><a href="{% url 'dating:home' %}"> Home</a> </li>-->
<!-- </ul>-->
{% endblock nav %}

{% block body %}
{% endblock body %}

{% block foot %}

<div class="notifications-container">
   <h3>New Likes</h3>
<ul class="notifications-list">
    {% for user in liked_users %}
        <li class="notification-item" data-notification-id="{{ user.id }}" data-status="{{ user.status }}">
                <h6>{{ user.liker.username }} liked you</h6>
                <button class="close-notification" id="closeBtn">x</button>
            <div class="notification-content">
                <div class="notification-time">
               <p>{{ user.formatted_timestamp }}</p>
                </div>
                <div class="notification-actions">
                    {% if user.status == 'accepted' %}
                        <span class="action-link accept">Accepted</span>
                    {% elif user.status == 'rejected' %}
                        <span class="action-link reject">Rejected</span>
                    {% else %}
                        <a class="action-link reject" data-liker-id="{{ user.liker.id }}" rejectUrl="{% url 'dating:reject' user.liker.id %}">Reject</a>
                        <a class="action-link accept" href="#" data-liker-id="{{ user.liker.id }}" acceptUrl="{% url 'dating:accept' user.liker.id %}">Accept</a>
                    {% endif %}
                    <a class="action-link view-profile" href="#" data-user-id="{{ user.liker.profile.id }}" getProfileUrl="{% url 'dating:get_profile' user.liker.profile.id %}">View Profile</a>
                </div>
            </div>
        </li>
        <hr class="notification-separator">
    {% empty %}
        <li>No notifications</li>
    {% endfor %}
</ul>


<ul class="notifications-list">
    <!-- Notifications for the liker -->
    {% for notification in liker_notifications %}
    <li class="notification-item" data-notification-id="{{ notification.id }}" data-status="{{ notification.status }}">
        <button class="close-notifications" id="liker-notifications-{{ notification.id }}">x</button>

        <div class="notification-contents">
            <div class="notification-messages">
                {% if notification.status == "accepted" %}
                    <h6>{{ notification.liked_user.username }} accepted your like</h6>
                {% else %}
                    <h6>{{ notification.liked_user.username }} declined your like</h6>
                {% endif %}
            </div>

            <div class="notification-time">
                <p>{{ notification.formatted_timestamp }}</p>
              <p style="color:black">
                    {% if notification.status == "accepted" %}
                        {% if notification.liked_user.profile and notification.liked_user.profile.contact %}
                        <a href="https://wa.me/{{ notification.liked_user.profile.contact }}"
                           target="_blank"
                           style="text-decoration: none; color: inherit;">
                           {{ notification.liked_user.profile.contact|slice:"1:" }}+
                           <i class="fab fa-whatsapp" style="color: green; font-size: 20px;"></i>
                        </a>


                        {% else %}
                            Contact: Not available
                        {% endif %}
                    {% else %}
                        Contact: Not available
                    {% endif %}
                </p>

            </div>
        </div>
    </li>
    {% empty %}
    <p>No updates on your likes.</p>
    {% endfor %}
</ul>



</div>


<!-- Modal Structure -->
<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="profileDetails">
            <!-- Profile details will be dynamically loaded here -->
        </div>
    </div>
</div>

<!-- Toast Notification -->
<div id="accept-toast" class="toast">
    <span class="toast-message">You accepted the like!</span>
</div>
{% endblock foot %}

{% block scripts %}
<script>
    const undoRejectUrlTemplate = "{% url 'dating:undo_reject' '0' %}"; // Use a placeholder
    const closeLikeNotification = "{% url 'dating:closeLikeNotification' %}";
</script>



<script type="text/javascript" src="{% static 'js/notifications.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script>
<script type="text/javascript">

     var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });

  $(document).ready(function () {


     {% block domready %}
     {% endblock %}
  });
    </script>
{% endblock scripts %}



