{% extends 'base_dating.html' %}
{% load static %}
{% load tz %}



{% block links %}
<link href="{% static 'css/notifications1.css' %}" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



{% endblock links %}



{% block nav %}
<!--<ul class="menu-links" style="display: none; max-height: 400px; overflow: auto;">-->
<!--    <li class="hoverTrigger"><a href="{% url 'dating:home' %}"> Home</a> </li>-->
<!-- </ul>-->
{% endblock nav %}

{% block body %}
{% endblock body %}

{% block foot %}

<div class="notifications-container">
   <h3 style="font-weight:bold">Notifications</h3>
<ul class="notifications-list">
    {% for user in liked_users %}
        <li class="notification-item" data-notification-id="{{ user.id }}" data-status="{{ user.status }}">
            <img src="{{ user.liker.profile.image.url }}" alt="{{ user.liker.username }}" class="notification-avatar">
            <div class="notification-content">
<!--             <h6 class="notification-text">-->
<!--              !Good news! <span class="username">{{ user.liker.username|capfirst }}</span> wants to connect-->
<!--            </h6>-->
             <h6 class="notification-text">
             .Connection request from <span class="username">{{ user.liker.username|capfirst }}</span>
            </h6>


               <p class="notification-time" data-timestamp="{{ user.timestamp|date:'c' }}"></p>

<!--                <div class="notifications-actions">-->
<!--                    {% if user.status == 'accepted' %}-->
<!--                        <span class="action-link accept">Accepted</span>-->
<!--                    {% elif user.status == 'rejected' %}-->
<!--                        <span class="action-link reject">Rejected</span>-->
<!--                    {% else %}-->
<!--                        <a class="action-link accept" href="#" data-liker-id="{{ user.liker.id }}" acceptUrl="{% url 'dating:accept' user.liker.id %}">Accept</a>-->
<!--                        <a class="action-link reject" href="#" data-liker-id="{{ user.liker.id }}" rejectUrl="{% url 'dating:reject' user.liker.id %}">Reject</a>-->
<!--                    {% endif %}-->
<!--                    <a class="action-link view-profile" href="#" data-user-id="{{ user.liker.profile.id }}" getProfileUrl="{% url 'dating:get_profile' user.liker.profile.id %}">View Profile</a>-->
                  <div class="notification-actions">
                        {% if user.status == 'accepted' %}
                            <!-- Show 'Accept' button, hide 'Reject' but keep space -->
                             <button class="action-link accept" data-tooltip="Accepted" disabled>
                                    <i class="fas fa-check bold-checkmark"></i>
                             </button>
                             <button class="action-link reject hidden-button" disabled>
                                <i class="fas fa-times"></i>
                            </button>
                        {% elif user.status == 'rejected' %}
                            <!-- Show 'Reject' button, hide 'Accept' but keep space -->
                               <button class="action-link reject" data-tooltip="Rejected" disabled>
                                <i class="fas fa-times"></i>
                            </button>

                             <button class="action-link accept hidden-button" data-tooltip="Accepted" disabled>
                                    <i class="fas fa-check bold-checkmark"></i>
                             </button>



                        {% else %}
                            <!-- Show both buttons if no status -->
                            <button class="action-link reject"
                                data-tooltip="Reject"
                                data-liker-id="{{ user.liker.id }}"
                                rejectUrl="{% url 'dating:reject' user.liker.id %}">
                                <i class="fas fa-times"></i>
                            </button>
                            <button class="action-link accept"
                                data-tooltip="Accept"
                                data-liker-id="{{ user.liker.id }}"
                                acceptUrl="{% url 'dating:accept' user.liker.id %}">
                                <i class="fas fa-check"></i>
                            </button>
                        {% endif %}
                        <!-- Always show 'View Profile' button -->
                        <button class="action-link view-profile"
                            data-user-id="{{ user.liker.profile.id }}"
                            getProfileUrl="{% url 'dating:get_profile' user.liker.profile.id %}"
                            data-tooltip="View Profile">
                            <i class="fas fa-user"></i>
                        </button>
                      <!-- Example Button and Tooltip -->
                    </div>


<!--                </div>-->
<!--            </div>-->
            <button class="close-notification" id="closeBtn">x</button>
            </div>
        </li>
    {% empty %}
        <li>No notifications</li>
    {% endfor %}
</ul>


<ul class="notifications-list">
    <!-- Notifications for the liker -->
    {% for notification in liker_notifications %}
    <li class="notification-item" data-notification-id="{{ notification.id }}" data-status="{{ notification.status }}">
        <img src="{{ notification.liked_user.profile.image.url }}" alt="{{ notification.liked_user.username }}" class="notification-avatar">
        <div class="notification-contents">
            <div class="notification-messages">
                {% if notification.status == "accepted" %}
                    <h6><span class="username1">.{{ notification.liked_user.username|capfirst }}</span> said yes to connecting</h6>
                {% else %}
                    <h6><span class="username2">.{{ notification.liked_user.username|capfirst }}</span> declined your like</h6>
                {% endif %}
            </div>

            <div class="likerNotes">
                 <p class="notification-time" data-timestamp="{{ notification.timestamp|date:'c' }}"></p>



              <p style="color:black; margin-top:20px">
                    {% if notification.status == "accepted" %}
                        {% if notification.liked_user.profile and notification.liked_user.profile.contact %}
                <a href="https://wa.me/{{ notification.liked_user.profile.contact }}"
                    target="_blank"
                    style="text-decoration: none; color: inherit; margin-right:170px; margin-top:20px">
                    {{ notification.liked_user.profile.contact|slice:"1:" }}+
                    <i class="fab fa-whatsapp" style="color: #25D366; font-size: 20px"></i>
                </a>
                        {% else %}
                            <p style="margin-right:139px; color:black">Contact: Not available</p>
                        {% endif %}
                    {% else %}
                        <p  style="margin-right:139px; color:black">Contact: Not available</p>
                    {% endif %}
                </p>
             </div>
            <button class="close-notifications" id="liker-notifications-{{ notification.id }}">x</button>

        </div>
    </li>
    {% empty %}
    <p>No updates on your likes.</p>
    {% endfor %}
</ul>



</div>


<!-- Modal Structure -->
<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="profileDetails">
            <!-- Profile details will be dynamically loaded here -->
        </div>
    </div>
</div>

<!-- Toast Notification -->
<div id="accept-toast" class="toast">
    <span class="toast-message">You accepted the like!</span>
</div>
{% endblock foot %}

{% block scripts %}
<script>
    const undoRejectUrlTemplate = "{% url 'dating:undo_reject' '0' %}"; // Use a placeholder
    const closeLikeNotification = "{% url 'dating:closeLikeNotification' %}";
</script>




<script type="text/javascript" src="{% static 'js/notifications.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script>
<script type="text/javascript">

     var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });

  $(document).ready(function () {


     {% block domready %}
     {% endblock %}
  });
    </script>
{% endblock scripts %}



